/build/coverage/
/build/html/
/build/junit/
/gulp/
/theme/
/vendor/
/copy_rename.txt
/index.html
/karma.conf.js
/sonar-project.properties
/CHANGELOG.md
/gulp-config.js
/gulpfile.js
/.editorconfig
/.eslintrc
/.eslintrc-spec
/.npmignore
/.project