<div class="row" ng-init="fetchCompany()">
  <div class="col-xs-12 col-lg-12">
    <br/>
    <div class="panel panel-default main-item" ng-click="discardMessage($event)" block-ui="companyListBlock"->
      <div class="panel-heading">
        <h2 class="panel-title">List of registered companies</h2>
      </div>
      <div class="panel-body-form">
        <company-list-fragment-view companies="companies" delref="'#/company/list/delete'" ng-show="searchRequestSumbitted"></company-list-fragment-view>
      </div>
    </div>
  </div>
</div>
