<legend>
  <span>Results</span>
</legend>
<div class="responsive-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th class="text-right">Number of beneficiaries</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in companies">
        <td>{{company.id}}</td>
        <td>{{company.name}}</td>
        <td class="text-right">{{company.beneficiaries.length}}</td>
        <td class="text-right mutable-company clickable" id="company{{$index}}" ng-click="mutateCompanyOptions(company, $index, $event)" type="button" data-container="body" data-toggle="popOnDelete" data-placement="right" data-html="true" data-content="<ul class='padding-left-5 clickable'><li><a href='#/company/update'>Edit</a></li><li><a href='{{delref}}' target='_self'>Delete</a></li></ul>">
          <i class="fa fa-ellipsis-v text-primary"></i>
        </td>
      </tr>
      <tr ng-show="companies.length === 0">
        <td colspan="4" class="text-center">No registered company found</td>
      </tr>
    </tbody>
  </table>
</div>
