<div class="row">
  <div class="col-xs-12 col-lg-12">
    <br/>
    <div class="panel panel-default" ng-click="discardMessage($event)">
      <div class="panel-heading">
        <h2 class="panel-title">Search for beneficiary</h2>
      </div>
      <div class="panel-body-form">
        <form class="form-horizontal" id="beneficiaryListForm" name="beneficiaryListForm">
          <div class="form-group">
            <label for="existingBeneficiaryId" class="col-sm-4 control-label">Existing beneficiary id</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" type="text" name="existingBeneficiaryId" ng-model="beneficiaryId" ng-pattern="/^\d*$/" ng-required="useExistingBeneficiary">
                <span class="input-group-addon clickable" id="searchExistingBeneficiaryId" ng-click="searchBeneficiary(beneficiaryId, $event)" data-toggle="popOnDelete" title="Invalid id" data-placement="top" data-content="Beneficiary id must be a valid positive integer greater than zero">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <label for="existingBeneficiaryId" class="validation-text" ng-show="(beneficiaryListForm.existingBeneficiaryId.$error.required || beneficiaryListForm.existingBeneficiaryId.$error.pattern) && !beneficiaryListForm.existingBeneficiaryId.$pristine">Enter a valid numeric id</label>
              <label for="existingBeneficiaryId" class="validation-text" ng-show="beneficiarySearched && !beneficiaryFound">Beneficiary not found</label>
            </div>
          </div>
          <beneficiary-list-fragment-view ng-show="searchRequestSumbitted" beneficiaries="beneficiaries" delref="'#/beneficiary/search/delete'"></beneficiary-list-fragment-view>
        </form>
      </div>
    </div>
  </div>
</div>
